body {
    font-family: Arial, sans-serif;
}

article {
    cursor: pointer;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login-form {
    text-align: center;
}

